
.main-content {
    .sub-main-content {
        margin: 7vh 11vw 0vh 11vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .sub-main-item:nth-child(1) {
        font-family: $abel;
        font-weight: 600;
        margin: 0vh 2vw 0vh 2vw;
        letter-spacing: 5px;
        text-align: center;
        font-size: 1.1rem;
    }
    .sub-main-item:nth-child(2) {
        font-family: $anton;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-top: 3vh;
        letter-spacing: 2px;
    }
    .sub-main-item:nth-child(3) {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 3vh;
        text-align: center;
    }
    .button {
        margin-top: 6vh;
        margin-bottom: 4vh;
        button {
            font-size: 1.1rem;
            padding-top: 1.3vh;
            padding-right: 2.2rem;
            padding-bottom: 1.3vh;
            padding-left: 2.2rem;
            letter-spacing: 1px;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 600;
            text-decoration: none;
            position: relative;
            cursor: pointer;
            border: none;
            color: #fff;
            outline: none;
            background: -webkit-gradient(linear, left top, right top, from($button-clr));
            background: -o-linear-gradient(left, $button-clr);
            background: linear-gradient(90deg, $button-clr);
            background-size: 300%;
            border-radius: 30px;
            z-index: 1;
            -webkit-transition: all 0.4s ease 0s;
            -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
        }

        button:hover {
            -webkit-animation: ani 8s linear infinite;
            animation: ani 8s linear infinite;
            border: none;
            -webkit-transform: translateY(-7px);
            -ms-transform: translateY(-7px);
            transform: translateY(-7px);
        }

        @-webkit-keyframes ani {
            0% {
                background-position: 0%;
            }

            100% {
                background-position: 400%;
            }
        }

        @keyframes ani {
            0% {
                background-position: 0%;
            }

            100% {
                background-position: 400%;
            }
        }

        button:before {
            content: "";
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
            z-index: -1;
            background: -webkit-gradient(linear, left top, right top, from($button-clr));
            background: -o-linear-gradient(left, $button-clr);
            background: linear-gradient(90deg, $button-clr);
            background-size: 400%;
            border-radius: 35px;
            -webkit-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
        }

        button:hover::before {
            -webkit-filter: blur(20px);
            filter: blur(20px);
        }

        button:active {
            background: -o-linear-gradient(58deg, $button-clr);
            background: linear-gradient(32deg, $button-clr);
        }
    }
    .grid {
        #3 {
            z-index: 9;
            position: relative;
            background-color: red;            
        }
        
        .sub-grid {
            h1 {
                margin: 3vh 8vw 0vh 8vw;
                font-size: 1.7rem;
                font-style: italic;
                font-family: $condensed;
            }
            p {
                margin: 3vh 8vw 8vh 8vw;
                font-size: 1rem;
                font-family: $comfortaa;
                color: #808080;
            }

            .A {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                background-color: white;
                margin: $box-centralization;
                border-radius: $box-radius;
                -webkit-box-shadow: $box-shadowing;
                box-shadow: $box-shadowing;
                img {
                    margin: $icon-centralization;
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    padding: 15px;
                    background-color: #f17c0e;
                    border-radius: 50px;
                }
            }
            .B {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                background-color: white;
                margin: $box-centralization;
                border-radius: $box-radius;
                -webkit-box-shadow: $box-shadowing;
                box-shadow: $box-shadowing;
                img {
                    margin: $icon-centralization;
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    padding: 15px;
                    background-color: #594adb;
                    border-radius: 50px;
                }
            }
            .C {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                background-color: white;
                margin: $box-centralization;
                border-radius: $box-radius;
                -webkit-box-shadow: $box-shadowing;
                box-shadow: $box-shadowing;
                img {
                    margin: $icon-centralization;
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    padding: 15px;
                    background-color: #0cb5c5;
                    border-radius: 50px;
                }
            }
            .D {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                background-color: white;
                margin: $box-centralization;
                border-radius: $box-radius;
                -webkit-box-shadow: $box-shadowing;
                box-shadow: $box-shadowing;
                img {
                    margin: $icon-centralization;
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    padding: 15px;
                    background-color: #ee3f47;
                    border-radius: 50px;
                }
            }
        }
    }
}
