@import "var";
@import "header";
@import "content";
@import "footer";

html,
body {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: $main-content-bg; 
    z-index: 1;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}
