:root {
    font-family: 'Chakra Petch', sans-serif;
}

html, body {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #ffffff;
    /* background-image: linear-gradient(90deg, rgba(155, 153, 153, 0.3)1px, transparent 0);
    background-size: 50vw;  */ 
}

.nav-bar-main {
    display: flex;
    justify-content: right;
    position: relative;
    z-index: 5;
}

.nav-bar-sub-main {
    position: relative;
    z-index: 8;
    display: flex;
    justify-content: space-around;
    /* margin-left: 75vw;*/
    margin-left: 1.5vw;
    margin-right: 5vh;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0);
}

.line-divider-main {
    z-index: 5;
    position: relative;
    display: flex;
    justify-content: right;
}

.line-divider {
    width: 27vw;
    border-radius: none;
    box-shadow: 0px 15px 12px -10px rgba(0, 0, 0, 0.58);
    border-bottom: black 1px solid;
    margin: -3vh 6vw 0vh 60%;
}

.nav-bar-main-photo {
    position: absolute;
    z-index: 10;
    display: inline-flex;
    justify-content: center;
    margin-left: 5vh;
}

.nav-bar-sub-main-photo img {
    max-height: auto;
    max-width: 50%;
    margin-top: 7%;
    margin-left: 4%;
    z-index: 12;
    position: relative;
}

.nav-bar-sub-main button {
    text-decoration: none;
    font-size: 1.3rem;
    margin: 2%;
    margin-right: 1.5vw;
    padding-top: .5vh;
    padding-right: .9vh;
    padding-bottom: .5vh;
    padding-left: .9vh;
    width: auto;
    height: auto;
    cursor: pointer;
    position: relative;
    transition-duration: 0.4s;
    text-align: center;
    display: inline-flex;
    color: rgb(4, 4, 4);
    background-color: rgba(0, 0, 0, 0);
    border: rgb(4, 4, 4);
}

.nav-bar-sub-main button::after {
    content: "";
    width: 11px;
    height: 11px;
    position: absolute;
    transition: 0.4s;
    cursor: pointer;
}

.nav-bar-sub-main button::before {
    content: "";
    width: 11px;
    height: 11px;
    position: absolute;
    transition: 0.4s;
    cursor: pointer;
}

.nav-bar-sub-main button::after {
    top: -1px;
    left: -1px;
    border-top: rgb(4, 4, 4) 2px solid;
    border-left: rgb(4, 4, 4) 2px solid;
    cursor: pointer;
}

.nav-bar-sub-main button::before {
    bottom: -1px;
    right: -1px;
    border-bottom: rgb(4, 4, 4) 2px solid;
    border-right: rgb(4, 4, 4) 2px solid;
    cursor: pointer;
}

.nav-bar-sub-main button:hover::before {
    width: 110%;
    height: 125%;
    cursor: pointer;
}

.nav-bar-sub-main button:hover::after {
    width: 110%;
    height: 125%;
    cursor: pointer;
}

.nav-bar-sub-main button:hover {
    box-shadow: 0px 0px 25px 20px rgba(0, 0, 0, 0.1);
}
#first-grid{
    background-image: url(background-about-2.jpg);
    background-position: center;
    background-size: cover; 
    height: 65vh;
    margin-bottom: 10vh;
}
.content-main {
    position: relative;
    margin: 10vh 0vw 0vh 0vw;
    height: 65vh;
    z-index: 1;  
    
}

.content-sub-main {
   
    margin-top: 10vh;
    margin-right: 3vw;
    margin-bottom: 0vh;
    margin-left: 3vw;
    display: grid;
    gap: 12vh 0%;
    grid-template-areas:
        "A A A A"
        "B B B B";
}

.box-1 {
    grid-area: A;
    justify-self: center;
    margin-top: 5vh;    
    max-width: 55vw;
    padding: 3vh 3vw 3vh 3vw;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: -30px 50px 40px -15px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 2px;
    font-size: 0.9vw;
}

.box-2 {
    grid-area: B;    
    justify-self: center;
    max-width: 65vw;
    padding: 3vh 3vw 3vh 3vw;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: white;
    box-shadow: -10px -30px 40px -15px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-size: 0.9vw;
}

/* #second-grid{
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-image: url(background-about-1.jpg);
    background-position: center;
    background-size: cover; 
    height: 75vh;
}
.content-main-second {
    position: relative;
    margin: 0;
    height: auto;
    z-index: 1; 
}

.content-sub-main-second {  
    display: flex;
    justify-content: center;
    align-content: center;
}
.box2-1 {
    margin-top: 20vh;
    max-width: 60vw;
    padding: 3vh 3vw 3vh 3vw;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: white;
    box-shadow: -30px 40px 45px -10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-size: 0.9vw;
} */

.footer-main {
    z-index: 1;
    background-color: rgba(199, 194, 188, 0.205);
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    opacity: .8;
    padding: 1%;
    height: fit-content;   
}