.about-section {
    margin-top: 3em;
    .about-heading-container {
        @include first-heading-container;
        text-align: start;
        position: relative;
        transition-duration: 0.4s;
        h1 {
            padding: 1em;
        }
        h1::after {
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            transition: 0.4s;
        }
        h1::before {
            content: "";
            width: 11px;
            height: 11px;
            position: absolute;
            transition: 0.4s;
        }
        h1::after {
            top: 0px;
            left: 0px;
            border-left: 3px solid black;
        }
        h1:hover::before {
            width: 100%;
            height: 100%;
        }
        h1:hover::after {
            width: 100%;
            height: 100%;
        }
        h1:hover {
            box-shadow: -50px 0px 35px 0px #a9a9a947;
        }
    }
    .text-container {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        h2 {
            text-align: center;
            width: 100%;
        }
        p {
            padding-top: 2em;
        }
        [class^="box-"] {
            margin-top: 4em;
        }
        .box-1 {
            margin: 2em;
            padding: 3em;
            width: 45vw;
            align-self: flex-end;
            margin-left: 5em;
            box-shadow: -20px 10px 20px 2px #8988882b;
        }
        .box-2 {
            margin: 2em;
            margin-bottom: 4em;
            padding: 3em;
            width: 45vw;
            align-self: flex-start;
            margin-right: 5em;
            box-shadow: 0px 20px 20px 2px #76757528;
        }
        .box-3 {
            margin: 2em;
            padding: 3em;
            width: 45vw;
            align-self: center;
            margin-top: 2em;
            box-shadow: 20px 10px 20px 2px #81818131;
        }
    }
}

.contact-section {
    margin-top: 10em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .contact-container {
        display: inline-flex;
        flex-direction: column;
        .form-heading {
            margin-left: 2em;
        }
        .form-container {
            display: flex;
            justify-content: center;
        }
        .contact-input-container {
            max-width: 30em;
            margin: 1em;
            padding: 1em;
            li {
                display: block;
                list-style: none;
                margin-top: 1.3em;
            }
            input {
                padding: 7px;
                transition: all 0.30s ease-in-out;
                outline: none;
            }
            input:focus {
                transition-duration: all 0.30s ease-in-out;
                box-shadow: 0 0 8px $light-black-half-opacity-color;
                border-bottom: 1px solid $light-black-half-opacity-color;
            }
            .button {
                display: inline-block;
                margin-top: 1.5em;
                padding: 6px 20px 0px 20px;
                border: none;
                background-color: #ffffff00;
                border-bottom: 2px solid black;
                color: black;
                width: 8em;
                transition: all 0.4s;
                cursor: pointer;
            }
            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.4s;
            }
            .button span:after {
                content: 'now';
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.4s;
                position: absolute;
            }
            .button:hover span {
                padding-right: 2.1em;
            }
            .button:hover span:after {
                opacity: 4;
                right: 0;
            }
        }
        .name-input {
            border: 1Px solid #ffffff00;
            border-bottom: 1px solid #767676;
            width: 49%;
        }
        .input-email {
            border: 1Px solid #ffffff00;
            border-bottom: 1px solid #767676;
            width: 100%;
        }
        .input-message {
            border: 1Px solid #ffffff00;
            border-bottom: 1px solid #767676;
            height: 10em;
            min-height: 8em;
            width: 100%;
            padding: 7px;
            transition: all 0.30s ease-in-out;
            outline: none;
        }
        .input-message:focus {
            transition-duration: all 0.30s ease-in-out;
            box-shadow: 0 0 8px $light-black-half-opacity-color;
            border-bottom: 1px solid $light-black-half-opacity-color;
        }
    }
}