@media only screen and (min-width: $width-desktop-bp) {
    header {
        height: 4.5em;
        margin-bottom: 4em;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 999;
        nav {
            margin-inline: 8em;
            .navbar-main {
                display: flex;
                justify-content: space-between;
                align-content: center;
                .logo {
                    img {
                        height: 50px;
                        margin: 10px;
                    }
                    #respon-img-mini {
                        display: none;
                    }
                }
                .button {
                    margin: 10px;
                    display: flex;
                    align-items: center;
                    .button-container li {
                        position: relative;
                        float: left;
                        list-style: none;
                        width: fit-content;
                        text-align: center;
                        background-color: transparent;
                        font-size: clamp(90%, 120%, 125%);
                        margin-left: .7em;
                    }
                    .button-container a {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: black;
                        .button-container a:after {
                            background: none repeat scroll 0 0 transparent;
                            bottom: 0;
                            content: "";
                            height: 2px;
                            left: 50%;
                            position: absolute;
                            background: black;
                            transition: width 0.3s ease 0s, left 0.3s ease 0s;
                            width: 0;
                        }
                        .button-container a:hover:after {
                            width: 100%;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $width-tablet-bp) {
    header {
        margin-bottom: 1em;
        height: 8vh;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 999;
        nav {
            margin-inline: 1em;
            .navbar-main {
                display: flex;
                justify-content: space-between;
                align-content: center;
                .logo {
                    img {
                        height: 40px;
                        margin: 10px;
                    }
                    #respon-img-big {
                        display: none;
                    }
                    #respon-img-mini {
                        display: flex;
                    }
                }
                .button {
                    margin: 10px;
                    display: flex;
                    align-items: center;
                    .button-container li {
                        position: relative;
                        float: left;
                        list-style: none;
                        width: fit-content;
                        text-align: center;
                        background-color: transparent;
                        font-size: 100%;
                        margin-left: .7em;
                    }
                    .button-container a {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: black;
                        .button-container a:after {
                            background: none repeat scroll 0 0 transparent;
                            bottom: 0;
                            content: "";
                            height: 2px;
                            left: 50%;
                            position: absolute;
                            background: black;
                            transition: width 0.3s ease 0s, left 0.3s ease 0s;
                            width: 0;
                        }
                        .button-container a:hover:after {
                            width: 100%;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $width-iphone8-bp) {
    header {
        margin-bottom: 1em;
        height: 8vh;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        nav {
            margin-inline: 1em;
            .navbar-main {
                display: flex;
                justify-content: space-between;
                align-content: center;
                .logo {
                    img {
                        height: 40px;
                        margin: 10px;
                    }
                    #respon-img-big {
                        display: none;
                    }
                    #respon-img-mini {
                        display: flex;
                    }
                }
                .button {
                    margin: 10px;
                    display: flex;
                    align-items: center;
                    .button-container li {
                        position: relative;
                        float: left;
                        list-style: none;
                        width: fit-content;
                        text-align: center;
                        background-color: transparent;
                        font-size: 100%;
                        margin-left: .7em;
                    }
                    .button-container a {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: black;
                        .button-container a:after {
                            background: none repeat scroll 0 0 transparent;
                            bottom: 0;
                            content: "";
                            height: 2px;
                            left: 50%;
                            position: absolute;
                            background: black;
                            transition: width 0.3s ease 0s, left 0.3s ease 0s;
                            width: 0;
                        }
                        .button-container a:hover:after {
                            width: 100%;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $width-general-bp) {
    header {
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
        nav {
            margin-inline: .6em;
            .navbar-main {
                .logo {
                    img {
                        height: 40px;
                        margin: 10px;
                    }
                    #respon-img-big {
                        display: none;
                    }
                    #respon-img-mini {
                        display: flex;
                    }
                }
                .button {
                    .button-container li {
                        position: relative;
                        float: left;
                        list-style: none;
                        width: fit-content;
                        text-align: center;
                        background-color: transparent;
                        font-size: 100%;
                        margin-left: .7em;
                    }
                    .button-container a {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: black;
                        .button-container a:after {
                            background: none repeat scroll 0 0 transparent;
                            bottom: 0;
                            content: "";
                            height: 2px;
                            left: 50%;
                            position: absolute;
                            background: black;
                            transition: width 0.3s ease 0s, left 0.3s ease 0s;
                            width: 0;
                        }
                        .button-container a:hover:after {
                            width: 100%;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}