@mixin monochrome-image-setting {
    filter: grayscale(1);
    transition-duration: .3s;
}

@mixin hover-image-animation {
    filter: grayscale(0);
    transition-duration: .3s;
    scale: 95%;
}

@mixin first-heading-container {
    text-align: center;
    margin-top: 2em;
    h1 {
        display: inline-flex;
        padding: .5em;
        font-size: 3rem;
        transition-duration: .2s;
    }
}

@mixin form-border-correction {
    border: 1Px solid #ffffff00;
    border-bottom: 1px solid #76767679;
}