@font-face {
    src: url(Bhaijaan.ttf);
    font-family: customFontOne;
}

@font-face {
    src: url(Amatic.ttf);
    font-family: customFontTwo;
}

@font-face {
    src: url(PHand.ttf);
    font-family: customFontThree;
}

$footer-color: #857f7f85;
$form-bottom-border-color: black;
$form-transition-dur-setting: all 0.30s ease-in-out;