@font-face {
    src: url(../fonts/Bhaijaan.ttf);
    font-family: customFontOne;
}

@font-face {
    src: url(../fonts/Amatic.ttf);
    font-family: customFontTwo;
}

@font-face {
    src: url(../fonts/Paytone.ttf);
    font-family: customFontThree;
}

$font-amatic: customFontTwo;
$footer-color: #857f7f85;
$form-bottom-border-color: black;
$form-transition-dur-setting: all 0.30s ease-in-out;