@font-face {
    src: url(../fonts/Bhaijaan.ttf);
    font-family: customFontOne;
}

@font-face {
    src: url(../fonts/Amatic.ttf);
    font-family: customFontTwo;
}

@font-face {
    src: url(../fonts/Paytone.ttf);
    font-family: customFontThree;
}

@font-face {
    src: url(../fonts/Peg.ttf);
    font-family: customFontFour;
}

$font-amatic: customFontTwo;
$footer-color: #857f7fa6;
$form-bottom-border-color: black;
$form-transition-dur-setting: all 0.30s ease-in-out;

/* breakpoints desktop */

$width-desktop-bp: 1280px;

/* breakpoints  general*/

$width-general-bp: 300px;

/* breakpoints iphone8 */

$width-iphone8-bp: 451px;

/* breakpoints ipad */

$width-tablet-bp: 768px;

/* legacy */

$width-legacy-bp: 1279px;