/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.navbar-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid blue;
}

.navbar-main .logo-container {
  border: 1px solid red;
}

.navbar-main .logo-container img {
  height: 50px;
}

.navbar-main .button-container {
  /*  display: flex;
        justify-content: end; */
  /* body {
         min-height: 100vh;
        background: linear-gradient(#7d6cfc, #c635ea);} */
  border: 1px solid green;
  /* .action.active span {
    transform: rotate(135deg);
}
.action ul {
    position: absolute;
    bottom: 55px;
    background: #fff;
    min-width: 250px;
    padding: 20px;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.action.active ul {
    bottom: 65px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}
.action ul li {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
}

.action ul li:hover {
    font-weight: 600;
}
.action ul li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.action ul li img {
    margin-right: 15px;
    opacity: 0.2;
    transform: scale(0.7);
}
.action ul li:hover img {
    opacity: 0.8;
    transform: scale(1);
}
 */
}

.navbar-main .button-container .button1 li {
  list-style: none;
  text-align: center;
}

.navbar-main .button-container ul li a {
  text-decoration: none;
}

.navbar-main .button-container .action {
  display: none;
  /* position: fixed; */
  bottom: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); */
}

.navbar-main .button-container .action span {
  /* position: relative; */
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  color: #000000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* font-family: 'Quicksand', sans-serif; */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  /* background-image: url("leaf.jpg");*/
  /*  background: #171717; */
  /*   background-image: linear-gradient(90deg, #1413135a 1px, transparent 0), linear-gradient(#1413135a 1px, transparent 0);
    background-size: 210px 210px; */
  margin-inline: 100px;
}
/*# sourceMappingURL=style.css.map */