/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  src: url(Bhaijaan.ttf);
  font-family: customFontOne;
}

header {
  height: 8vh;
  margin-bottom: 2vh;
  margin-inline: 8em;
}

header nav {
  /* position: fixed;
        z-index: 999; */
}

header nav .navbar-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  /* .action.active span {
        transform: rotate(135deg);
    }
    .action ul {
        position: absolute;
        bottom: 55px;
        background: #fff;
        min-width: 250px;
        padding: 20px;
        border-radius: 20px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }
    .action.active ul {
        bottom: 65px;
        opacity: 1;
        visibility: visible;
        transition: 0.3s;
    }
    .action ul li {
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 0;
    }
    
    .action ul li:hover {
        font-weight: 600;
    }
    .action ul li:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .action ul li img {
        margin-right: 15px;
        opacity: 0.2;
        transform: scale(0.7);
    }
    .action ul li:hover img {
        opacity: 0.8;
        transform: scale(1);
    }
     */
}

header nav .navbar-main .logo img {
  height: 50px;
  margin: 10px;
}

header nav .navbar-main .button {
  /*  display: flex;
            justify-content: end; */
  /* body {
             min-height: 100vh;
            background: linear-gradient(#7d6cfc, #c635ea);} */
  /* background-color: red; */
}

header nav .navbar-main .button .button-container li {
  float: left;
  list-style: none;
  line-height: 20px;
  width: 150px;
  /* margin-right: 30px; */
}

header nav .navbar-main .button .button-container li a {
  text-decoration: none;
  display: block;
  font-size: 120%;
  color: black;
}

header nav .navbar-main .action {
  display: none;
  /* position: fixed; */
  bottom: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); */
}

header nav .navbar-main .action span {
  /* position: relative; */
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  color: #000000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}

main {
  margin-inline: 8em;
}

.footer-main {
  z-index: 800;
  margin-inline: 20vw;
  margin-top: 10em;
  padding: 1em;
  border-top: 2px solid #857f7fd6;
}

.footer-main .footer-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer-main .footer-text-container:nth-child(1) p {
  color: #857f7fd6;
  margin-top: .3em;
  font-size: clamp(0.8vw, 1em);
}

.footer-main .footer-text-container:nth-child(1) p span {
  color: #857f7fd6;
  text-decoration: underline;
  font-size: clamp(0.8vw, 1em);
}

* {
  font-family: customFontOne;
}

main {
  margin-inline: 8em;
}

.first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* height: 90vh; */
}

.first-section .first-section-heading-container {
  text-align: center;
  margin-top: 2em;
}

.first-section .first-section-heading-container h1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .5em;
  font-size: 3rem;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  /* box-shadow: rgba(0, 0, 0, 0.49) 0px 0px 0px 2px inset; */
}

.first-section .first-section-heading-container h1:hover {
  -webkit-box-shadow: blue 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #1fc11b 10px -10px, white 20px -20px 0px -3px, #ffd913 20px -20px, white 30px -30px 0px -3px, #ff9c55 30px -30px, white 40px -40px 0px -3px, #ff5555 40px -40px;
          box-shadow: blue 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #1fc11b 10px -10px, white 20px -20px 0px -3px, #ffd913 20px -20px, white 30px -30px 0px -3px, #ff9c55 30px -30px, white 40px -40px 0px -3px, #ff5555 40px -40px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.first-section .first-section-image-container {
  height: 50%;
  width: 100%;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-section .first-section-image-container img {
  margin: 3em;
  width: 100%;
  max-width: 45em;
  height: auto;
}

.first-section .first-section-image-container .first-section-image-container:nth-child(1) {
  padding-bottom: 5em;
  height: 5em;
}

.first-section .first-section-image-container .first-section-image-container:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 100%;
}

.first-section-paragraph-container {
  /* align-self: flex-end; */
  margin-top: 5em;
}

.first-section-paragraph-container h2 {
  /* text-align: center; */
  padding: 2em 4em;
  padding-left: 2em;
  /* background-color: #f7f7f7; */
  font-size: 1.6rem;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  border-left: 3px solid black;
}

.first-section-paragraph-container h2:hover {
  /* ;               
                box-shadow: blue 0px -10px 0px 0px inset, rgb(255, 255, 255) 0px 5px 0px -30px, rgb(31, 193, 27) 0px 10px, rgb(255, 255, 255) 0px 15px 0px -30px, rgb(255, 217, 19) 0px 20px, rgb(255, 255, 255) 0px 25px 0px -30px, rgb(255, 156, 85) 0px 30px, rgb(255, 255, 255) 0px 35px 0px -30px, rgb(255, 85, 85) 0px 40px;
 */
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.second-section {
  /* height: max(100vh, 120vh); */
  height: 100vh;
}

.second-section .second-section-content-organizer {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-section .second-section-content-organizer .second-section-first-image-desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 14em;
  padding-bottom: 1em;
}

.second-section .second-section-content-organizer .second-section-first-image-desc-container .second-section-first-desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.second-section .second-section-content-organizer .second-section-first-image-desc-container .second-section-first-desc-container p {
  width: 100%;
  max-width: 25em;
  height: 100%;
  /* padding: 3em;*/
  padding-left: 2em;
  /* padding: max(3vw, 1em); */
  /* font-size: clamp(1.20rem, calc(0.94rem + 1.32vw), 1.88rem); */
}

.second-section .second-section-content-organizer .second-section-first-image-desc-container img {
  width: 100%;
  max-width: 25em;
  height: auto;
}

.second-section .second-section-content-organizer .second-section-second-image-desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
  padding-left: 13em;
}

.second-section .second-section-content-organizer .second-section-second-image-desc-container .second-section-second-desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.second-section .second-section-content-organizer .second-section-second-image-desc-container .second-section-second-desc-container p {
  width: 40vw;
  max-width: 25em;
  height: 100%;
  /* padding: 3em;*/
  padding-right: 2em;
  /* padding-bottom: -10em; */
  /* padding: max(3vw, 1em); */
  /* font-size: clamp(1.20rem, calc(0.94rem + 1.32vw), 1.88rem); */
}

.second-section .second-section-content-organizer .second-section-second-image-desc-container img {
  width: 100%;
  max-width: 25em;
  height: auto;
}

.second-section .second-section-paragraph-container {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* background-color: #f7f7f7; */
  /* filter: opacity(40%); */
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.second-section .second-section-paragraph-container h3 {
  margin: 4em;
  margin-inline: 6em;
  text-align: center;
  font-size: 1.2rem;
}

.second-section .second-section-paragraph-container {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-box-shadow: 0px 20px 20px 2px rgba(95, 95, 95, 0.229);
          box-shadow: 0px 20px 20px 2px rgba(95, 95, 95, 0.229);
}

.third-section {
  margin-top: 10em;
}

.third-section .third-section-image-container {
  margin-inline: 10em;
  display: -ms-grid;
  display: grid;
  gap: 3em;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.third-section .third-section-image-container img {
  /* max-width: 25em;
                    height: auto; */
}

.third-section .third-section-image-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-section .third-section-image-desc-container {
  width: 100%;
  margin-top: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.third-section .third-section-image-desc-container .third-section-image-desc-sub-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* padding-inline: max(10em, 2vw); */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-section .third-section-image-desc-container .third-section-image-desc-sub-container .third-section-desc-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.third-section .third-section-image-desc-container .third-section-image-desc-sub-container .third-section-desc-container p {
  max-width: 20vw;
  padding: 2em;
  padding-left: 3em;
  font-size: 130%;
}

.third-section .third-section-image-desc-container .third-section-image-desc-sub-container img {
  /* width: 100%;
                        max-width: 35em;
                        height: auto;
                        max-height: 35em; */
  max-width: 30%;
  height: auto;
}

/* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
#fixed-button {
  position: fixed;
  z-index: 999;
}

#fixed-button button {
  padding: 1em;
  border-radius: 50px;
  background-color: red;
}

.about-section {
  margin-top: 3em;
}

.about-section .about-heading-container {
  text-align: center;
  margin-top: 2em;
}

.about-section .about-heading-container h1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .5em;
  font-size: 3rem;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  /* box-shadow: rgba(0, 0, 0, 0.49) 0px 0px 0px 2px inset; */
}

.about-section .about-heading-container h1:hover {
  -webkit-box-shadow: blue 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #1fc11b 10px -10px, white 20px -20px 0px -3px, #ffd913 20px -20px, white 30px -30px 0px -3px, #ff9c55 30px -30px, white 40px -40px 0px -3px, #ff5555 40px -40px;
          box-shadow: blue 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #1fc11b 10px -10px, white 20px -20px 0px -3px, #ffd913 20px -20px, white 30px -30px 0px -3px, #ff9c55 30px -30px, white 40px -40px 0px -3px, #ff5555 40px -40px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.about-section .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3em;
}

.about-section .text-container p {
  margin: 2em;
  padding: 2em;
  width: 40vw;
}

.about-section .text-container [class^="box-"] {
  margin-top: 1em;
}

.about-section .text-container .box-1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 5em;
  -webkit-box-shadow: 10px 10px 10px 2px #c6c6c6;
          box-shadow: 10px 10px 10px 2px #c6c6c6;
}

.about-section .text-container .box-2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5em;
  -webkit-box-shadow: 10px 10px 10px 2px #c6c6c6;
          box-shadow: 10px 10px 10px 2px #c6c6c6;
}

.about-section .text-container .box-3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 2em;
  margin-right: 18em;
  -webkit-box-shadow: 10px 10px 10px 2px #c6c6c6;
          box-shadow: 10px 10px 10px 2px #c6c6c6;
}

.contact-section {
  margin-top: 10em;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* .required {
        color: red;
    } */
}

.contact-section .contact-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* .input-subject-selector {
            border: 1Px solid #ffffff00;
            background-color: #ffffff00;
            width: 100%;
            optgroup {
                color: white;
            }
        } */
}

.contact-section .contact-container .form-heading {
  margin-left: 2em;
}

.contact-section .contact-container .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-section .contact-container .contact-input-container {
  max-width: 30em;
  margin: 1em;
  padding: 1em;
  /* input[type=text] {
    
        }
        input[type=text]:focus  */
  /* label {
                margin-bottom: .2em;
                display: flex;
                flex-direction: column;
                font-weight: bold;
            } */
}

.contact-section .contact-container .contact-input-container li {
  display: block;
  list-style: none;
  margin-top: 1.3em;
}

.contact-section .contact-container .contact-input-container input {
  /* font-style: italic; */
  padding: 7px;
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
}

.contact-section .contact-container .contact-input-container input:focus {
  -webkit-transition-duration: all 0.30s ease-in-out;
          transition-duration: all 0.30s ease-in-out;
  -webkit-box-shadow: 0 0 8px rgba(95, 95, 95, 0.551);
          box-shadow: 0 0 8px rgba(95, 95, 95, 0.551);
  border-bottom: 1px solid rgba(95, 95, 95, 0.551);
}

.contact-section .contact-container .contact-input-container .button {
  display: inline-block;
  margin-top: 1.5em;
  padding: 6px 20px 0px 20px;
  border: none;
  background-color: #ffffff00;
  border-bottom: 2px solid black;
  color: black;
  width: 8em;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.contact-section .contact-container .contact-input-container .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-section .contact-container .contact-input-container .button span:after {
  content: 'now';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-section .contact-container .contact-input-container .button:hover span {
  padding-right: 2.2em;
}

.contact-section .contact-container .contact-input-container .button:hover span:after {
  opacity: 4;
  right: 0;
}

.contact-section .contact-container .name-input {
  border: 1Px solid #ffffff00;
  border-bottom: 1px solid #767676;
  width: 49%;
}

.contact-section .contact-container .input-email {
  border: 1Px solid #ffffff00;
  border-bottom: 1px solid #767676;
  width: 100%;
}

.contact-section .contact-container .input-message {
  border: 1Px solid #ffffff00;
  border-bottom: 1px solid #767676;
  height: 10em;
  min-height: 6em;
  width: 100%;
  /* font-style: italic; */
  padding: 7px;
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
}

.contact-section .contact-container .input-message:focus {
  -webkit-transition-duration: all 0.30s ease-in-out;
          transition-duration: all 0.30s ease-in-out;
  -webkit-box-shadow: 0 0 8px rgba(95, 95, 95, 0.551);
          box-shadow: 0 0 8px rgba(95, 95, 95, 0.551);
  border-bottom: 1px solid rgba(95, 95, 95, 0.551);
}

html,
body {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* font-family: 'Quicksand', sans-serif; */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  /* background-image: url("leaf.jpg");*/
  /*  background: #171717; */
  /*   background-image: linear-gradient(90deg, #1413135a 1px, transparent 0), linear-gradient(#1413135a 1px, transparent 0);
    background-size: 210px 210px; */
}

main img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

main img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  scale: 95%;
}
/*# sourceMappingURL=style.css.map */