.contact-content-container {
    border: 1px red solid;
    .contact-content-sub-container {
        border: 1px blue solid;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
