.contact-content-container {
    border: 1px red solid;
    display: flex;
    justify-content: center;
    .contact-content-sub-container {
        border: 1px blue solid;
        display: flex;
        flex-direction: column;
        align-items: space-between;
    }
}
