.nav-bar-container {
    /* position: relative;
    z-index: 9; */
    height: 8vh; /* malý kousek pod - max-height */
    background-color: $header-and-footer-background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    button {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid rgba(0, 0, 0, 0);
        color: $general-text-color-black;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 8px;
        border-radius: 2px;
        transition-duration: 0.3s;
        &:hover {
            transition-duration: 0.3s;
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    .nav-bar-sub-container {
        .nav-icon {
            img {
                min-width: 100%;
                height: 90%;
            }
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 3% 0 3%;

        .nav-button {
            position: relative;
            z-index: 9;
            .line-container {
                width: 60px;
                display: block;
                /* proužek pod headerem */
                padding: 8px 10px;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
            }

            .line-container div {
                height: 4px !important;
                background: rgb(29, 28, 28);
                margin: 7px 0px 7px 0px;
                border-radius: 45px;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                .one {
                    width: $nav-bar-line-width;
                }
                .two {
                    width: $nav-bar-line-width;
                }
                .three {
                    width: $nav-bar-line-width;
                }
                /* 
                .line-containerr:hover div {
                width: 60px;
            }   */
            }
        }
        .buttons-contaier {
            /* display: none; */
            position: relative;
            z-index: 8;

            .buttons {
                
            }
        }
    }
}

@media only screen and (min-width: 1600px) and (min-height: 720px) and (orientation: landscape) {
    .nav-bar-container {
        height: 10vh;
        .nav-bar-sub-container {
            .nav-button {
                display: none;
            }
        }
        .buttons-contaier {
            display: flex;
            .buttons {
            }
        }
    }
}
