.helo {
    position: absolute;
    z-index: 8;
}

.nav-bar-container {
    background-color: $header-and-footer-background-color;
    position: relative;
    z-index: 9;
    .nav-bar-sub-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        margin: 0 1.6em 0 1.6em;

        .nav-button {
            .line-container {
                width: 60px;
                display: block;
                margin: 50px auto;
                padding: 8px 10px;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
            }

            .line-container div {
                height: 4px !important;
                background: rgb(29, 28, 28);
                margin: 7px 0px 7px 0px;
                border-radius: 45px;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                .one {
                    width: $nav-bar-line-width;
                }
                .two {
                    width: $nav-bar-line-width;
                }
                .three {
                    width: $nav-bar-line-width;
                }
                /* 
                .line-containerr:hover div {
                width: 60px;
            }   */
            }
        }
    }
}
