.section-content-container {
  height: 84vh;
  display: flex;
  justify-content: center;
  margin: 0 5vw 0 5vw;
  .sub-section-content-container {
    margin: 2vh 0 2vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* align-items: space-evenly; */
    /* width: 60vw; */
    img {
      margin-right: 6vw;
      /* filter: drop-shadow(0px 0px 8px black); */
    }
    .section-content-item:nth-child(1) {
      @include contact-section-informations;
    }
    .section-content-item:nth-child(2) {
      @include contact-section-informations;
    }
    .section-content-item:nth-child(3) {
      @include contact-section-informations;
    }
    .section-content-item:nth-child(4) {
      @include contact-section-informations;
    }
    .section-content-item:nth-child(5) {
      @include contact-section-informations;
    }
    .section-content-item:nth-child(6) {
      @include contact-section-informations;
    }
  }
}

@media only screen and (min-width: 1600px) and (min-height: 720px) {
  .section-content-container {
    height: 80vh;
    div[class^="section-content-item"] {
      width: 15vw;
      /* display: flex;
      flex-direction: row;
      justify-content: space-evenly; */
    }

    .sub-section-content-container {
      display: grid;
      gap: 0 15vh;
      margin: 17vh 0 17vh 0;
      
      grid-template-areas:
        "A B C"
        "D E F";
      img {
        margin: 0;
        scale: 150%;
      }
      p {
        margin-left: 4vw;
        scale: 150%;
      }
      .section-content-item:nth-child(1) {
        grid-area: A;
      }
      .section-content-item:nth-child(2) {
        grid-area: B;
      }
      .section-content-item:nth-child(3) {
        grid-area: C;
      }
      .section-content-item:nth-child(4) {
        grid-area: D;
      }
      .section-content-item:nth-child(5) {
        grid-area: E;
      }
      .section-content-item:nth-child(6) {
        grid-area: F;
      }
    }
  }
}
