* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: tomato;
  }
  
  /* vertical threline nav bar */
  
  .v-navbar {
    width: 60px;
    height: auto;
    overflow: hidden;
    border: 4px solid #49b293;
    padding: 15px 10px;
    margin: 50px auto;
    display: block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .v-navbar div {
    width: 5px;
    height: 60px;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 25px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .v-one,
  .v-two,
  .v-three {
    float: left;
  }
  
  .v-navbar .v-two {
    height: 45px;
  }
  
  .v-navbar .v-three {
    height: 35px;
  }
  
  .v-navbar:hover div {
    height: 60px;
  }
  
  
  /* title */
  
  .title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Overpass Mono', monospace;
    text-decoration: underline;
  }
  
  /* horizontal threline nav bar */
  
  .navbar {
    width: 60px;
    display: block;
    margin: 50px auto;
    border: 4px solid #00bfb6;
    padding: 8px 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .navbar div {
    height: 5px !important;
    background: #fff;
    margin: 7px 0px 7px 0px;
    border-radius: 25px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .two {
    width: 35px;
  }
  
  .three {
    width: 50px;
  }
  
  .navbar:hover div {
    width: 60px;
  }
  
  