$nav-bar-line-width: 30px;
$general-text-color: #f8f7ec;
$general-text-color-black: #000000;
$header-and-footer-background-color: #cbc1b1;
$general-background-color: #efeee9;
$sub-offers-section-text-top-padding: 4vh;
$button-bg-color: #7c7474;
$transition-duration-buttons: 0.3s;