@charset "UTF-8";
html,
body {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #efeee9;
  z-index: 1;
  font-family: "Hubballi", cursive;
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Smooch Sans', sans-serif; */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.nav-bar-container {
  /* position: relative;
    z-index: 9; */
  height: 8vh;
  /* malý kousek pod - max-height */
  background-color: #cbc1b1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-bar-container button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  color: #000000;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 8px;
  border-radius: 2px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.nav-bar-container button:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-bar-container .nav-bar-sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3% 0 3%;
}

.nav-bar-container .nav-bar-sub-container .nav-icon img {
  min-width: 100%;
  height: 90%;
}

.nav-bar-container .nav-bar-sub-container .nav-button {
  position: relative;
  z-index: 9;
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container {
  width: 60px;
  display: block;
  /* proužek pod headerem */
  padding: 8px 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container div {
  height: 4px !important;
  background: #1d1c1c;
  margin: 7px 0px 7px 0px;
  border-radius: 45px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  /* 
                .line-containerr:hover div {
                width: 60px;
            }   */
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container div .one {
  width: 30px;
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container div .two {
  width: 30px;
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container div .three {
  width: 30px;
}

.nav-bar-container .nav-bar-sub-container .buttons-contaier {
  /* display: none; */
  position: relative;
  z-index: 8;
}

@media only screen and (min-width: 1600px) and (min-height: 720px) and (orientation: landscape) {
  .nav-bar-container {
    height: 10vh;
  }
  .nav-bar-container .nav-bar-sub-container .nav-button {
    display: none;
  }
  .nav-bar-container .buttons-contaier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.content-container {
  margin: 3em 2em 3em 2em;
}

.content-container .welcome-banner {
  background-color: #7c7474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* justify-items: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container .welcome-banner h1 {
  color: #f8f7ec;
  margin: 1em;
}

.content-container .welcome-banner p {
  margin: 0 0.6em 0.5em 0.6em;
  color: #f8f7ec;
}

.content-container .welcome-banner button {
  margin: 1.1em;
  padding: 1% 1.5em 1% 1.5em;
  background-color: #7c7474;
  border: #7c7474 1px solid;
  font-size: 0.9rem;
  -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.3);
  color: #f8f7ec;
}

.content-container .offers-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-container .offers-section .offers-section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 2.3em;
  font-size: 1rem;
}

.content-container .offers-section .offer-section-1 {
  margin-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-container .offers-section .offer-section-1 img {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content-container .offers-section .offer-section-1 .sub-offer-section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8em;
}

.content-container .offers-section .offer-section-1 .sub-offer-section-1 h3 {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.content-container .offers-section .offer-section-1 .sub-offer-section-1 p {
  margin-top: 0.6em;
  font-size: 0.6rem;
  color: #777774;
}

.content-container .offers-section .offer-section-2 {
  margin-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-container .offers-section .offer-section-2 img {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content-container .offers-section .offer-section-2 .sub-offer-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8em;
}

.content-container .offers-section .offer-section-2 .sub-offer-section-2 h3 {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.content-container .offers-section .offer-section-2 .sub-offer-section-2 p {
  margin-top: 0.6em;
  font-size: 0.6rem;
  color: #777774;
}

.content-container .offers-section .offer-section-3 {
  margin-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-container .offers-section .offer-section-3 img {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content-container .offers-section .offer-section-3 .sub-offer-section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8em;
}

.content-container .offers-section .offer-section-3 .sub-offer-section-3 h3 {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.content-container .offers-section .offer-section-3 .sub-offer-section-3 p {
  margin-top: 0.6em;
  font-size: 0.6rem;
  color: #777774;
}

.registration-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.3em;
  margin-bottom: 2.3em;
}

.registration-button button {
  padding: 1% 1.5em 1% 1.5em;
  background-color: #7c7474;
  border: #7c7474 1px solid;
  font-size: 0.9rem;
  -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.3);
  color: #efeee9;
}

@media only screen and (min-width: 1600px) and (min-height: 720px) {
  .content-container {
    margin: 0;
  }
  .content-container .welcome-banner-container {
    background-image: url("index-welcome-beach.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .content-container .welcome-banner-container .welcome-banner {
    width: 35vw;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 1.5em 1.5em 0;
    border-radius: 2px;
    padding: 1em;
  }
  .content-container .welcome-banner-container .welcome-banner h1 {
    margin: 0.2em;
    font-size: 300%;
  }
  .content-container .welcome-banner-container .welcome-banner p {
    margin: 0.2em .8em .2em .8em;
    font-size: 140%;
  }
  .content-container .welcome-banner-container .welcome-banner button {
    font-size: 130%;
  }
  .content-container .offers-section .offers-section-heading {
    font-size: 3em;
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 2.3em;
  }
  .content-container .offers-section .offer-sections-container {
    margin-right: 10vw;
    margin-left: 10vw;
    display: -ms-grid;
    display: grid;
    /*  gap: 2% 20%; */
        grid-template-areas: "A  B  C";
  }
  .content-container .offers-section .offer-sections-container div[class^="offer-section-"] {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-container .offers-section .offer-sections-container div[class^="sub-offer-section-"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 12%;
    margin-left: 12%;
  }
  .content-container .offers-section .offer-sections-container div[class^="sub-offer-section-"] h3 {
    font-size: 1.3rem;
  }
  .content-container .offers-section .offer-sections-container div[class^="sub-offer-section-"] p {
    font-size: 1.1rem;
  }
  .content-container .offers-section .offer-sections-container img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .content-container .offers-section .offer-sections-container .offer-section-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: A;
  }
  .content-container .offers-section .offer-sections-container .offer-section-2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: B;
  }
  .content-container .offers-section .offer-sections-container .offer-section-3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: C;
  }
  .content-container .registration-button {
    margin-top: 7vh;
    margin-bottom: 10vh;
  }
  .content-container .registration-button button {
    font-size: 130%;
  }
}

footer {
  height: 8vh;
  background-color: #cbc1b1;
  position: relative;
  /* fixed smaže škvíru pod */
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-information {
  padding: 1em 0 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1600px) and (min-height: 720px) {
  footer {
    height: 10vh;
    position: relative;
  }
}

.section-content-container {
  height: 84vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5vw 0 5vw;
}

.section-content-container .sub-section-content-container {
  margin: 2vh 0 2vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* align-items: space-evenly; */
  /* width: 60vw; */
}

.section-content-container .sub-section-content-container img {
  margin-right: 6vw;
  /* filter: drop-shadow(0px 0px 8px black); */
}

.section-content-container .sub-section-content-container .section-content-item:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: space-around; */
  /* dát text doleva */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-content-container .sub-section-content-container .section-content-item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: space-around; */
  /* dát text doleva */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-content-container .sub-section-content-container .section-content-item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: space-around; */
  /* dát text doleva */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-content-container .sub-section-content-container .section-content-item:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: space-around; */
  /* dát text doleva */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-content-container .sub-section-content-container .section-content-item:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: space-around; */
  /* dát text doleva */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-content-container .sub-section-content-container .section-content-item:nth-child(6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: space-around; */
  /* dát text doleva */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1600px) and (min-height: 720px) {
  .section-content-container {
    height: 80vh;
  }
  .section-content-container div[class^="section-content-item"] {
    width: 15vw;
    /* display: flex;
      flex-direction: row;
      justify-content: space-evenly; */
  }
  .section-content-container .sub-section-content-container {
    display: -ms-grid;
    display: grid;
    gap: 0 15vh;
    margin: 17vh 0 17vh 0;
        grid-template-areas: "A B C" "D E F";
  }
  .section-content-container .sub-section-content-container img {
    margin: 0;
    scale: 150%;
  }
  .section-content-container .sub-section-content-container p {
    margin-left: 4vw;
    scale: 150%;
  }
  .section-content-container .sub-section-content-container .section-content-item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: A;
  }
  .section-content-container .sub-section-content-container .section-content-item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: B;
  }
  .section-content-container .sub-section-content-container .section-content-item:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: C;
  }
  .section-content-container .sub-section-content-container .section-content-item:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: D;
  }
  .section-content-container .sub-section-content-container .section-content-item:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: E;
  }
  .section-content-container .sub-section-content-container .section-content-item:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: F;
  }
}

.contact-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 84vh;
}

.contact-content-container .contact-content-sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-content-container .contact-content-sub-container .contact-content-sub-sub-container {
  /*height: 40vh;
             display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between; */
  margin: 3em 0 3em 0;
}

.contact-content-container .contact-content-sub-container input {
  background-color: #cdcac7;
  border: 1px solid #cdcac7;
}

.contact-content-container .contact-content-sub-container .contact-content-sub-item:nth-child(1) {
  margin-top: 1vh;
  /* dodělat mezery mezi inputy */
}

.contact-content-container .contact-content-sub-container .contact-content-sub-item:nth-child(5) input {
  height: 15vh;
}

.contact-content-container .registration-button-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.3em;
}

.contact-content-container .registration-button-contact button {
  padding: 1% 1.5em 1% 1.5em;
  background-color: #7c7474;
  border: #7c7474 1px solid;
  font-size: 0.9rem;
  -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.3);
  color: #efeee9;
}

@media only screen and (min-width: 1600px) and (min-height: 720px) {
  .contact-content-container {
    height: 80vh;
  }
  .contact-content-container h1 {
    font-size: 2.5rem;
  }
  .contact-content-container .registration-button-contact {
    margin-top: 2em;
    margin-bottom: 5em;
  }
  .contact-content-container .registration-button-contact button {
    font-size: 1.3rem;
  }
  .contact-content-container .contact-content-sub-sub-container {
    width: 35vw;
    height: auto;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* justify-items: center;
            align-items: center; */
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    /* gap: 2vh 1vw; */
    row-gap: 2vh;
    -webkit-column-gap: 1vw;
            column-gap: 1vw;
  }
  .contact-content-container .contact-content-sub-sub-container input {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border: 1px solid red;
  }
  .contact-content-container .contact-content-sub-sub-container .contact-content-sub-item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1 / 1 / 1 / 1;
    margin-top: 0;
    border: 1px solid blue;
  }
  .contact-content-container .contact-content-sub-sub-container .contact-content-sub-item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1 / 2 / 1 / 2;
    border: 1px solid blue;
  }
  .contact-content-container .contact-content-sub-sub-container .contact-content-sub-item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: 2 / 1 / 2 / 1;
    border: 1px solid blue;
  }
  .contact-content-container .contact-content-sub-sub-container .contact-content-sub-item:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: 2 / 2 / 2 / 2;
    border: 1px solid blue;
  }
  .contact-content-container .contact-content-sub-sub-container .contact-content-sub-item:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / span 6 / span 2;
  }
  .contact-content-container .contact-content-sub-sub-container .contact-content-sub-item:nth-child(5) input {
    width: 35vw;
    height: 20vh;
  }
}
/*# sourceMappingURL=styles.css.map */