html{
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Smooch Sans', sans-serif; */
    font-family: 'Hubballi', cursive;
}

@import "var";
@import "mixin";
@import "header";
@import "section";
@import "footer";