html,
body {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #efeee9; 
    z-index: 1;
    font-family: "Hubballi", cursive;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Smooch Sans', sans-serif; */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

@import "var";
@import "mixin";
@import "header";
@import "section";
@import "footer";
@import "information-section-module";
@import "contact-section-module";
