@charset "UTF-8";
body {
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Smooch Sans', sans-serif; */
  font-family: "Hubballi", cursive;
}

/* .helo {
    position: absolute;
    z-index: 8;
} */
.nav-bar-container {
  background-color: #cbc1b1;
  position: relative;
  z-index: 9;
  height: 10vh;
}

.nav-bar-container .nav-bar-sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  margin: 0 1.6em 0 1.6em;
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container {
  width: 60px;
  display: block;
  /* proužek pod headerem */
  padding: 8px 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container div {
  height: 4px !important;
  background: #1d1c1c;
  margin: 7px 0px 7px 0px;
  border-radius: 45px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  /* 
                .line-containerr:hover div {
                width: 60px;
            }   */
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container div .one {
  width: 30px;
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container div .two {
  width: 30px;
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container div .three {
  width: 30px;
}

.content-container {
  margin: 3em 2em 3em 2em;
}

.content-container .welcome-banner {
  background-color: #7c7474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* justify-items: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container .welcome-banner h1 {
  color: #f8f7ec;
  margin: 1em;
}

.content-container .welcome-banner p {
  margin: 0 0.6em 0.5em 0.6em;
  color: #f8f7ec;
}

.content-container .welcome-banner button {
  margin: 1.1em;
  padding: 1% 1.5em 1% 1.5em;
  background-color: #a19b98;
  border: #a19b98 1px solid;
  font-size: 0.9rem;
  -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.3);
  color: #f8f7ec;
}

.content-container .offers-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-container .offers-section .offers-section-heading {
  /* border: 1px red solid; */
  margin-top: 2.3em;
}

.content-container .offers-section .offer-section-1 {
  margin-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-container .offers-section .offer-section-1 img {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content-container .offers-section .offer-section-1 .sub-offer-section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8em;
}

.content-container .offers-section .offer-section-1 .sub-offer-section-1 h3 {
  font-size: .8rem;
  letter-spacing: 1px;
}

.content-container .offers-section .offer-section-1 .sub-offer-section-1 p {
  margin-top: 0.6em;
  font-size: 0.6rem;
  color: #777774;
}

.content-container .offers-section .offer-section-2 {
  margin-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-container .offers-section .offer-section-2 img {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content-container .offers-section .offer-section-2 .sub-offer-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8em;
}

.content-container .offers-section .offer-section-2 .sub-offer-section-2 h3 {
  font-size: .8rem;
  letter-spacing: 1px;
}

.content-container .offers-section .offer-section-2 .sub-offer-section-2 p {
  margin-top: 0.6em;
  font-size: 0.6rem;
  color: #777774;
}

.content-container .offers-section .offer-section-3 {
  margin-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-container .offers-section .offer-section-3 img {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content-container .offers-section .offer-section-3 .sub-offer-section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8em;
}

.content-container .offers-section .offer-section-3 .sub-offer-section-3 h3 {
  font-size: .8rem;
  letter-spacing: 1px;
}

.content-container .offers-section .offer-section-3 .sub-offer-section-3 p {
  margin-top: 0.6em;
  font-size: 0.6rem;
  color: #777774;
}

.registration-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.3em;
}

.registration-button button {
  padding: 1% 1.5em 1% 1.5em;
  background-color: #a19b98;
  border: #a19b98 1px solid;
  font-size: 0.9rem;
  -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.3);
  color: #efeee9;
}

.footer-container {
  background-color: #cbc1b1;
  height: 10vh;
}

.footer-container .footer-information {
  padding: 1em 0 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-content-container {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5vw 0 5vw;
}

.section-content-container .sub-section-content-container {
  margin: 2vh 0 2vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* align-items: space-evenly; */
  width: 60vw;
}

.section-content-container .sub-section-content-container img {
  margin-right: 6vw;
  -webkit-filter: drop-shadow(0px 0px 8px black);
          filter: drop-shadow(0px 0px 8px black);
}

.section-content-container .sub-section-content-container .section-content-item:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: space-around; */
  /* dát text doleva */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-content-container .sub-section-content-container .section-content-item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: space-around; */
  /* dát text doleva */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-content-container .sub-section-content-container .section-content-item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: space-around; */
  /* dát text doleva */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-content-container .sub-section-content-container .section-content-item:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: space-around; */
  /* dát text doleva */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-content-container .sub-section-content-container .section-content-item:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: space-around; */
  /* dát text doleva */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-content-container .sub-section-content-container .section-content-item:nth-child(6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: space-around; */
  /* dát text doleva */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* 
    justify-content: center;
    align-items: center; */
  height: 80vh;
}

.contact-content-container .contact-content-sub-container {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0vh 2vw 0vh 2vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-content-container .contact-content-sub-container .contact-content-sub-item:nth-child(6) {
  padding-bottom: 12vh;
  border: 1px red solid;
}
/*# sourceMappingURL=styles.css.map */