html {
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Smooch Sans', sans-serif; */
  font-family: 'Hubballi', cursive;
}

.helo {
  position: absolute;
  z-index: 8;
}

.nav-bar-container {
  background-color: #cbc1b1;
  position: relative;
  z-index: 9;
}

.nav-bar-container .nav-bar-sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  margin: 0 1.6em 0 1.6em;
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container {
  width: 60px;
  display: block;
  margin: 50px auto;
  padding: 8px 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container div {
  height: 4px !important;
  background: #1d1c1c;
  margin: 7px 0px 7px 0px;
  border-radius: 45px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  /* 
                .line-containerr:hover div {
                width: 60px;
            }   */
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container div .one {
  width: 30px;
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container div .two {
  width: 30px;
}

.nav-bar-container .nav-bar-sub-container .nav-button .line-container div .three {
  width: 30px;
}

.content-container {
  margin: 3em 2em 3em 2em;
}

.content-container .welcome-banner {
  background-color: #7c7474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* justify-items: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container .welcome-banner h1 {
  color: #f8f7ec;
  margin: 1em;
}

.content-container .welcome-banner p {
  margin: 1em;
  color: #f8f7ec;
}

.content-container .welcome-banner button {
  margin: 1em;
  padding: 1% 1.5em 1% 1.5em;
  background-color: #a19b98;
  border: #a19b98 1px solid;
  font-size: 0.9rem;
  -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.3);
}

.content-container .offers-section .offer-section-1 {
  /* background: url(/wba-pitra-david-2k/individual-work/pitra-2k-web-figma-1/images/offer1.jpg);
            background-repeat: no-repeat; */
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-container .offers-section .offer-section-1 img {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content-container .offers-section .offer-section-1 .sub-offer-section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content-container .offers-section .offer-section-1 .sub-offer-section-1 h3 {
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.content-container .offers-section .offer-section-1 .sub-offer-section-1 p {
  font-size: 0.6rem;
  color: #777774;
}

.content-container .offers-section .offer-section-2 {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-container .offers-section .offer-section-2 img {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content-container .offers-section .offer-section-2 .sub-offer-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content-container .offers-section .offer-section-2 .sub-offer-section-2 h3 {
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.content-container .offers-section .offer-section-2 .sub-offer-section-2 p {
  font-size: 0.6rem;
  color: #777774;
}

.content-container .offers-section .offer-section-3 {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-container .offers-section .offer-section-3 img {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content-container .offers-section .offer-section-3 .sub-offer-section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content-container .offers-section .offer-section-3 .sub-offer-section-3 h3 {
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.content-container .offers-section .offer-section-3 .sub-offer-section-3 p {
  font-size: 0.6rem;
  color: #777774;
}

.footer-container {
  background-color: #cbc1b1;
}
/*# sourceMappingURL=styles.css.map */