:root {
   /* font-size: 16px; */
   font-family: 'Quicksand', sans-serif;
}
section {
   margin: 0% 5% 0% 5%;
}
#bg {
   /* background-color: #171717;   
   height: 100vh;
   background-image: repeating-linear-gradient(90deg, #141313, #141313 3px, #171717 3px, #171717 200px); */
   background-image: url("bg1.jpg");
}
.navigation-menu {
   display: flex;
   align-items: center;
   justify-content: space-evenly;   
   margin: 0% 34% 1% 34%;
}
.navigation-items {
   
   /* border: #07253d solid 3px; */
   /* border-radius: 30px; */
   background-color: #171717;
   box-shadow: 0px 0px 5px #07253d;
   margin-top: 2vh;
}
.navigation-items button {
   font-size: 1.5rem;
   color: rgb(223, 223, 36);
   
   /* border: #07253d solid 3px; */
   /* border-radius: 30px; */
   text-align: center;
   text-decoration: none; /* aby nebyl odkaz podtržen */
   display: inline-block;
   /* box-shadow: 0px 0px 10px #07253d; */
   padding: 12px 23px 12px 23px;
   /* opacity: 0.9; */
   position: relative;
   cursor: pointer;
   transition: all 0.9s;
   
}
.navigation-items button::after {
   content: ""; /* musí zde být, aby byl následující obsah */
   width: 11px;
   /* velikost borderu horního před hoverem */
   height: 11px;
   position: absolute;
   transition: 0.9s;
}

.navigation-items button::before {
   content: "";
   width: 11px;
   height: 11px;
   position: absolute;
   transition: 0.9s;
}

.navigation-items button:after {
   top: -1px;
   left: -1px;
   border-top: rgb(199, 24, 190) 4px solid;
   border-left: rgb(109, 18, 101) 4px solid;
}

.navigation-items button:before {
   bottom: -1px;
   right: -1px;
   border-bottom: rgb(231, 8, 8) 4px solid;
   border-right: rgb(187, 187, 20) 4px solid;
}

/* .navigation-items button:hover {
   border-top-right-radius: 30px;
   border-bottom-left-radius: 30px;
} */

.navigation-items button:hover:before {
   width: 110%; /* jak daleko co pojede */
   height: 115%;
}

.navigation-items button:hover:after {
   width: 110%;
   height: 115%;
}
.section-content {}

.section-content p {
   font-size: 1rem;
   color: beige;
}

.section-content h1 {
   padding-bottom: 10px;
   font-size: 2rem;
   color: beige;
}

.section-content h2 {
   font-size: 1.5rem;
   color: beige;
}

.section-item:nth-child(1) {
   background-color: #171717;
   /* border: #07253d 1px solid; */
   border-radius: 30px;
   box-shadow: 0px 0px 5px #e40303;
   display: inline-block;
   margin: 150px 30% 5% 5%;
   padding: 20px 30px 20px 30px;
}
.section-item:nth-child(2) {
   background-color: #171717;
   /* border: #07253d 1px solid; */
   border-radius: 30px;
   box-shadow: 0px 0px 5px #ff8c00;
   display: inline-block;
   margin: 0% 5% 5% 30%;
   padding: 20px 30px 30px 20px;
   padding-right: 30px;
   padding-left: 30px;
}

.section-item:nth-child(3) {

   background-color: #171717;
   /* border: #07253d 1px solid; */
   border-radius: 30px;
   box-shadow: 0px 0px 5px #ffed00;
   display: inline-block;
   margin: 0% 1% 4% 45%;
   padding: 20px 30px 20px 30px;
}

.section-item:nth-child(4) {
   background-color: #171717;
   /* border: #07253d 1px solid; */
   border-radius: 30px;
   box-shadow: 0px 0px 5px #750787;
   display: inline-block;
   margin: 0% 30% 10% 15%;
   padding: 20px 30px 20px 30px;
}

.section-item:hover {
   background-color: #141313;
   box-shadow: 0px 0px 30px ;
   /* color: #07253d; */
   transition-duration: 0.65s;
   opacity: 1;
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
}

.photo-section {
   display: flex;
   justify-content: space-evenly;
}

.photo-section-item:nth-child(1) {
   margin: 0% 7% 7% 5%;
   height: 450px;
   width: 450px;
}

.photo-section-item:nth-child(2) {
   margin: 8% 5% 10% 12%;
   height: 400px;
   width: 400px;
}

.photo-section-item, img:hover {
   transition-duration: 0.7s;
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
}