:root {
   background-color: #171717;
   /* font-size: 16px; */
   font-family: 'Quicksand', sans-serif;
}
#bg {
   margin-right: 5%;
   margin-left: 5%;
   min-height: 100vh;
   background-image: repeating-linear-gradient(90deg, #141313, #141313 3px, #171717 3px, #171717 390px);  
}
.navigation-menu {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   /* margin-top: 1%; */
   margin-right: 34%;
   margin-bottom: 1%;
   margin-left: 34%;
}
.navigation-menu p {
   font-size: 2rem;
   color: beige;
}
.navigation-menu button {
   font-size: 1.5rem;
   color: beige;
}
/* ul {
   margin: 0;
   padding: 15px;
   display: flex;
   position: absolute; 
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

ul li {
   list-style: none;
   margin: 15px;
   padding: 15px;
}

ul li a {
   text-decoration: none;
   position: relative;
   display: block;
   width: 135%;
   height: 100%;
   text-align: center;
   line-height: 63px;
   background: #07253d;
   border-radius: 25%;
    font-size: 2rem; 
    color: #c20564; 
   transition: 0.5s;
}

ul li a::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background: #ffee10;
   transition: .5s;
   transform: scale(.9);
   z-index: -1;
}

ul li a:hover::before {
   transform: scale(1.1);
   box-shadow: 0 0 15px #ffee10;
}

ul li a:hover {
   color: #ffee10;
   box-shadow: 0 0 5px #ffee10;
   text-shadow: 0 0 5px #ffee10;
} */
.navigation-items {
   background-color: #07253d;
   border: #07253d solid 3px;
   border-radius: 30px;
   box-shadow: 0px 0px 5px #07253d;
   margin-top: 2vh;
}
.navigation-items button {
   background-color: #07253d;
   border: #07253d solid 3px;
   border-radius: 30px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   box-shadow: 0px 0px 10px #07253d;
   padding: 12px;
   padding-right: 23px;
   padding-left: 23px;
   opacity: 0.9;
   
}
.navigation-items button:hover {
   background-color: beige;
   box-shadow: 0px 0px 15px beige;
   color: #07253d;
   transition-duration: 0.65s;
   opacity: 1;
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
   /*  transform: skew(-10deg); */
   /* border: 3px dotted #ff7a59;
  color: #ff7a59;
  background: #fff; */
}
.section-content {
   
}
.section-content p {
   font-size: 1rem;
   color: beige;
}
.section-content h1 {
   padding-bottom: 10px;
   font-size: 2rem;
   color: beige;
}
.section-content h2 {
   font-size: 1.5rem;
   color: beige;
}
.section-item:nth-child(1) {
   background-color: #171717;
   background-color: #171717;
   border: #07253d 1px solid;
   border-radius: 30px;
   box-shadow: 0px 0px 25px #07253d; 
   display: inline-block;
   margin-top: 150px;
   margin-right: 30%;
   margin-bottom: 5%;
   margin-left: 5%;
   padding: 25px;
   padding-right: 30px;
   padding-bottom: 20px;
   padding-left: 30px;
}
/* .section-item:nth-child(1)::before{
  
}
.section-item:nth-child(1):hover::before{
   border: #141313 solid 1px;
   background: #141313;
   box-shadow: 20px 20px 0px #07253d;
   transition-duration: 0.5s;
}
.section-item:nth-child(1):hover{
   border: #141313 solid 1px;
   background: #141313;
   box-shadow: 0px 0px 25px #07253d;
   transition-duration: 0.5s;
} */
.section-item:nth-child(2) {
   background-color: #171717;
   border: #07253d 1px solid;
   border-radius: 30px;
   box-shadow: 0px 0px 25px #07253d; 
   display: inline-block;
   margin-right: 5%;
   margin-bottom: 0%;
   margin-left: 30%;
   padding: 30px;
   padding-right: 30px;
   padding-left: 30px;
}
.section-item:nth-child(3){
   
   background-color: #171717;   
   border: #07253d 1px solid;
   border-radius: 30px;
   box-shadow: 0px 0px 25px #07253d;
   display: inline-block;
   /* box-sizing: border-box;  */
   margin-top:150px;
   margin-right: 1%;
   margin-bottom: 0%;
   margin-left: 57%;
   padding-top: 15px;
   padding-right: 30px;
   padding-bottom: 15px;
   padding-left: 30px;
}
 .section-item:hover {
   border: #141313 solid 1px;
   background: #141313;
   box-shadow: 20px 20px 0px #07253d;
   transition-duration: 0.5s;     
} 
/* .section-item:hover::after {
   transition-duration: 0.5;
} */

.stripes-container {}

.stripes-item:nth-child(1) {
   /* border-left: solid red 3px;
   height: 150px;
   margin-left: 5%; */
   min-height: 100vh;
   background-image: repeating-linear-gradient(90deg, red, red 3px, #171717 3px, #171717 600px);
}
.stripes-item:nth-child(2) {}