html, body {
   scroll-behavior: smooth;
   -ms-overflow-style: none;
   scrollbar-width: none;
   font-family: 'Quicksand', sans-serif;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
   display: none;
}

body {
   background: #171717;
   background-image: linear-gradient(90deg, #141313 3px, transparent 0), linear-gradient(#141313 3px, transparent 0);
   background-size: 150px 150px;
}

section {
   margin: 0% 5% 0% 5%;
}

.navigation-menu {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin: 0% 34% 1% 34%;
}

.navigation-items {
   background-color: rgba(23, 23, 23, 0);
   margin-top: 2.5vh;
}

.navigation-items button {
   font-size: 1.5rem;
   color: beige;
   background-color: rgba(23, 23, 23, 0);
   border: none;
   border-radius: 3px;
   text-align: center;
   text-decoration: none;
   /* aby nebyl odkaz podtržen */
   display: inline-block;
   padding: 12px 23px 12px 23px;
   position: relative;
   cursor: pointer;
}

.navigation-items button::after {
   content: "";
   /* musí zde být, aby byl následující obsah */
   width: 11px;
   /* velikost borderu horního před hoverem */
   height: 11px;
   position: absolute;
   transition: 0.7s;
}

.navigation-items button::before {
   content: "";
   width: 11px;
   height: 11px;
   position: absolute;
   transition: 0.7s;
}

.navigation-items button::after {
   top: -1px;
   /* umístění mini-borderu před hoverem vůči elementu */
   left: -1px;
   border-top: beige 4px solid;
   border-left: beige 4px solid;
}

.navigation-items button::before {
   bottom: -1px;
   right: -1px;
   border-bottom: beige 4px solid;
   border-right: beige 4px solid;
}

.navigation-items button:hover::before {
   width: 110%;
   /* jak daleko co pojede */
   height: 115%;
   box-shadow: 0px 0px 15px;
}

.navigation-items button:hover:after {
   width: 110%;
   height: 115%;
   box-shadow: 0px 0px 15px;
}

.section-content p, h1, h2 {
   color: beige;
}

.section-content span {
   color: #551a8b;
   font-weight: 900;
   font-size: 2rem;
}
.section-content p {
   padding-top: 10px;
   font-size: 1rem;
}

.section-content h1 {
   font-size: 2rem;
}

.section-content h2 {
   font-size: 2rem;
}

.section-item {
   display: inline-block;
   transition: 0.9s;
   /* border: #07253d 1px solid; */
   /*  box-shadow: 0px 0px 7px #07253d; */
   box-shadow: 0px 0px 5px beige;
   border-radius: 15px;
   background-color: #171717;
}

.section-item:nth-child(1) {
   margin: 130px 30% 5% 5%;
   padding: 20px 30px 20px 30px;
}

.section-item:nth-child(2) {
   margin: 0% 5% 5% 30%;
   padding: 20px 30px 30px 30px;
}

.section-item:nth-child(3) {
   margin: 0% 1% 3% 60%;
   padding: 20px 30px 20px 30px;
}

.section-item:nth-child(4) {
   margin: 0% 30% 10% 15%;
   padding: 20px 25px 20px 30px;
}

.section-item:hover {
   background-color: #141313;
   box-shadow: 0px 0px 50px;
   border: none;
   transition-duration: 0.75s;
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
}

.photo-section {
   display: flex;
   justify-content: space-evenly;
}

.rounding {
   border-radius: 10px;
   box-shadow: 0px 0px 10px beige;
}

.photo-section-item:nth-child(1) {
   margin: 0% 7% 7% 5%;
   height: 450px;
   width: 450px;
   transition-duration: 0.5s;
}

.photo-section-item:nth-child(2) {
   margin: 8% 5% 10% 12%;
   height: 400px;
   width: 400px;
   transition-duration: 0.5s;
}

.photo-section-item img {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
}

.photo-section-item:hover {
   transition-duration: 0.5s;
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
}