@import "reset";
@import "var";
@import "mixin";
@import "header";
@import "footer";
@import "homepage";
@import "about";
html,
body {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    font-family: customFontOne;
}

main {
    img {
        @include monochrome-image-setting;
    }
    img:hover {
        @include hover-image-animation
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}