:root {
    /*  width: 100vw;
    height: 100vh; */
    background-image: url("background-img.jpg");
    background-position: center;
    background-size: cover;
}

.section-container {
    background-color: rgba(38, 32, 62, 0.8);
}

.flex-container {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.flex-items-navigation {
    width: 50%;
}

.flex-items-logo {
    width: 25%;
}

.flex-items-search {
    width: 25%;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container:nth-child(1) {}

.navigation-container {
    justify-content: space-around;
    display: flex;
    color: white;
    font-size: 1.1rem;
}

.navigation-items:nth-child(1) {}

.navigation-items:nth-child(2) {}

.navigation-items:nth-child(3) {}

.search-container {
    display: flex;
    justify-content: center;
}

.search-items:nth-child(1) {}

.middle-container {
    display: flex;
    justify-content: center;
    
}

.middle-items-container {
    
}
.middle-items:nth-child(1)
{
    display: block;
    background-color: white;
    border: white solid 1px;
    border-radius: 25px;
    padding: 10px;
    width: 50vw;
    box-shadow: white 5px;
}
.middle-items:nth-child(1) h1 {
    font-size: 2rem;
    margin: 5px;
}

.middle-items:nth-child(1) p {
    margin: 5px;
    margin-top: 15px;
    font-size: 1rem;
}