@import "var";

.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0% 34% 1% 34%;
}

.navigation-items {
    background-color: rgba(23, 23, 23, 0);
    margin-top: 2.5vh;
}

.navigation-items button {
    font-size: 1.5rem;
    color: $text-global;
    background-color: rgba(32, 53, 34, 0);
    border: none;
    box-shadow: 0px 0px 10px rgba(32, 53, 34, 1);
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    /* aby nebyl odkaz podtržen */
    display: inline-block;
    padding: 12px 23px 12px 23px;
    position: relative;
    cursor: pointer;
    z-index: 2;
    /*text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;*/
}

.navigation-items button::after {
    content: "";
    /* musí zde být, aby byl následující obsah */
    width: 11px;
    /* velikost borderu horního před hoverem */
    height: 11px;
    position: absolute;
    transition: 0.5s;
    cursor: pointer;
}

.navigation-items button::before {
    content: "";
    width: 11px;
    height: 11px;
    position: absolute;
    transition: 0.5s;
    cursor: pointer;
}

.navigation-items button::after {
    top: -1px;
    /* umístění mini-borderu před hoverem vůči elementu */
    left: -1px;
    border-top: $text-global 4px solid;
    border-left: $text-global 4px solid;
    cursor: pointer;
}

.navigation-items button::before {
    bottom: -1px;
    right: -1px;
    border-bottom: $text-global 4px solid;
    border-right: $text-global 4px solid;
    cursor: pointer;
}

.navigation-items button:hover::before {
    width: 110%;
    /* jak daleko co pojede */
    height: 115%;
    box-shadow: 0px 0px 15px;
    cursor: pointer;
}

.navigation-items button:hover::after {
    width: 110%;
    height: 115%;
    box-shadow: 0px 0px 15px;
    cursor: pointer;
}
