:root {
    font-family: 'Chakra Petch', sans-serif;
}

html, body {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #ffffff;
    /* background-image: linear-gradient(90deg, rgba(155, 153, 153, 0.3)1px, transparent 0), linear-gradient(rgba(155, 153, 153, 0.3) 1px, transparent 0);
    background-size: 150px 150px;  */
}

.nav-bar-main {
    display: flex;
    justify-content: right;
    position: relative;
    z-index: 5;
}

.nav-bar-sub-main {
    position: relative;
    z-index: 8;
    display: flex;
    justify-content: space-around;
    /* margin-left: 75vw;*/
    margin-left: 1.5vw;
    margin-right: 5vh;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0);
}

.line-divider-main {
    z-index: 5;
    position: relative;
    display: flex;
    justify-content: right;
}

.line-divider {
    width: 27vw;
    border-radius: none;
    box-shadow: 0px 15px 12px -10px rgba(0, 0, 0, 0.58);
    border-bottom: black 1px solid;
    margin: -3vh 6vw 0vh 60%;
}

.nav-bar-main-photo {
    position: absolute;
    z-index: 10;
    display: inline-flex;
    justify-content: center;
    margin-left: 5vh;
}

.nav-bar-sub-main-photo img {
    max-height: auto;
    max-width: 50%;
    margin-top: 7%;
    margin-left: 4%;
    z-index: 12;
    position: relative;
}

.nav-bar-sub-main button {
    text-decoration: none;
    font-size: 1.3rem;
    margin: 2%;
    margin-right: 1.5vw;
    padding-top: .5vh;
    padding-right: .9vh;
    padding-bottom: .5vh;
    padding-left: .9vh;
    width: auto;
    height: auto;
    cursor: pointer;
    position: relative;
    transition-duration: 0.4s;
    text-align: center;
    display: inline-flex;
    color: rgb(4, 4, 4);
    background-color: rgba(0, 0, 0, 0);
    border: rgb(4, 4, 4);    
}

.nav-bar-sub-main button::after {
    content: "";/* musí zde být, aby byl následující obsah */
    width: 11px;
    /* velikost borderu horního před hoverem */
    height: 11px;
    position: absolute;
    transition: 0.4s;
    cursor: pointer;
}

.nav-bar-sub-main button::before {
    content: "";
    width: 11px;
    height: 11px;
    position: absolute;
    transition: 0.4s;
    cursor: pointer;
}

.nav-bar-sub-main button::after {
    top: -1px;
    /* umístění mini-borderu před hoverem vůči elementu */
    left: -1px;
    border-top: rgb(4, 4, 4) 2px solid;
    border-left: rgb(4, 4, 4) 2px solid;
    cursor: pointer;
}

.nav-bar-sub-main button::before {
    bottom: -1px;
    right: -1px;
    border-bottom: rgb(4, 4, 4) 2px solid;
    border-right: rgb(4, 4, 4) 2px solid;
    cursor: pointer;
}

.nav-bar-sub-main button:hover::before {
    width: 110%;
    /* jak daleko co pojede */
    height: 125%;
    /* box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.253);  */
    cursor: pointer;
}

.nav-bar-sub-main button:hover::after {
    width: 110%;
    height: 125%;
    /* box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.253);  */
    cursor: pointer;
}

.nav-bar-sub-main button:hover {
    /* transform: scale(110%); */
    box-shadow: 0px 0px 25px 20px rgba(0, 0, 0, 0.1);
    /* letter-spacing: 0.05vw; */
}

/* [class^="box-"] {
    display: grid;
} */
.content-main {
    position: relative;
    margin: 10vh 0vw auto 0vw;
    height: auto;
    z-index: 1; 
}

.content-sub-main img {
    border-radius: 2px;
    border-radius: none;
    width: auto;
    height: auto;
    box-shadow: 0px 10px 25px 0px rgb(121, 119, 119, 0.7); 
}

.content-sub-main {
    margin-top: 10vh;
    margin-right: 10vw;
    margin-bottom: 5vh;
    margin-left: 10vw;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 0% 0%;
    /* 
    grid-template-columns: repeat(2,1fr);    
    grid-template-rows: repeat(2, 1fr); */
    grid-template-areas:
        "A A A A  B B B B"
        "C C C C  D D D D";
}

.box-1 {
    grid-area: A;
    scale: 0.65;
    margin-left: 5vw;
}


.box-2 {
    grid-area: B;
    margin-left: -5vw;
    padding: 3vh 3vw 3vh 3vw;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 60px -20px 40px -10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-size: 0.9vw;
    
}

.box-3 {
    grid-area: C;
    padding: 3vh 3vw 3vh 3vw;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: -30px 50px 40px -15px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-size: 0.9vw;
}

.box-4 {
    grid-area: D;
    margin-left: 5vw;
    scale: .9;
}

.box-5 {}

.box-6 {}

.box-7 {}

.box-8 {}

.box-9 {}

.box-10 {}

.footer-main {
    z-index: 1;
    background-color: rgba(199, 194, 188, 0.205);
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    opacity: .8;
    padding: 1%;
    /* f */
}

.footer-sub-main {}